.terminal,
.terminal-output,
.terminal-input,
form,
input,
.form-control,
.input-group,
.input-group-text {
  background-color: inherit !important;
  color: inherit !important;
}

.terminal {
  padding: 1.1%;
}

.terminal-output {
  overflow-y: scroll;
}

.terminal-output .container {
  min-width: 100%;
  padding-bottom: 1.1%;
}

.agent {
  font-size: 20px;
  max-width: 2%;
}

.text, .error-text {
  white-space: pre-line;
}

.error-text {
  color: rgb(245, 121, 121);
}

.form-control,
.input-group-text {
  border: none;
}

.input-group-text {
  align-items: unset;
}

.layout-splitter {
  background-color: white !important;
  border-radius: 5rem;
}