.terminal,
.terminal-output,
.terminal-input,
form,
input,
.form-control,
.input-group,
.input-group-text {
  background-color: inherit !important;
  color: inherit !important;
  border-color: inherit;
}

.terminal {
  position: fixed;
  top: 1.1%;
  bottom: 1.1%;
  left: 1.1%;
  right: 1.1%;
}

.terminal-input {
  height: 40px;
}

.terminal-output {
  overflow-y: scroll;
  height: calc(100% - 40px);
  padding-bottom: 1%;
}

.terminal-output .container {
  min-width: 100%;
}

.agent {
  font-size: 20px;
  max-width: 2%;
}

.text, .error-text {
  white-space: pre-line;
}

.error-text {
  color: rgb(245, 121, 121);
}

.form-control {
  border-left-width: 0px;
}

.input-group-text {
  border-right-width: 0px;
}