body {
  background-color: #14233B;
  color: white;
  border-color: white;
  height: 100%;
	font-family: courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}